!!!
%html{:lang => "fr"}
  %head
    %meta{:charset => "utf-8"}/
    %title Pi - Blais, Iung
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
  %body
    %main= yield